.header {
    background-color: ##FFFFFF;
    height: 54px;
}

.header .logo{
    float: left;
}

.container {
    background-color: blue;
    margin: 0 auto;
    width: 1000px;
}

.content {
    background-color: yellow;
    width: 694px;
    float: left;
}

.slide {
    background-color: green;
    width: 296px;
    float: right;
}