h1{
    color: red;
}

.header{
    background-color: red;
    height:
}

.container{
    background-color: blue;
}

.content{
    background-color: yellow;

}

.slide{
    background-color: green;

}