<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>

<body>
    <h1>首页</h1>
    <button>获取数据</button>
    <script>
        document.querySelector("button").onclick = function () {
            myajax("get", "/data", function (res) {
                alert(res);
            });
        }

        // 自定义ajax
        function myajax(method, url, next) {
            let xhr = new XMLHttpRequest();
            xhr.open(method, url);
            xhr.send();
            let result = "";
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.state == 200) {
                    next(xhr.responseText);
                }
            }
            return result;
        }
    </script>
</body>

</html>